version: '3.6'
services:
  mongo:
    image: mongo:3.2
    volumes:
      - ./data:/data/db
    command: mongod --smallfiles --oplogSize 128 --replSet rs0

  mongo-init-replica:
    image: mongo:3.2
    command: 'mongo mongo/rocketchat --eval "rs.initiate({ _id: ''rs0'', members: [ { _id: 0, host: ''localhost:27017'' } ]})"'
    depends_on:
      - mongo

  rocketchat:
    image: rocketchat/rocket.chat:latest
    restart: unless-stopped
    environment:
      ROOT_URL: 'http://localhost'
    depends_on:
      - mongo
    ports:
      - "80:3000"
